#about-me {
    justify-content: center;
    align-items: center;
    p, span, li {
        font-size: clamp(0.938rem, 2.5vw, 1.125rem);
    }
}

.profile, .strength-weakness, .hobbies, .tool-i-use {
    margin: 0 0 30px 0;
}

.list-of-information {
    text-align: left;
    flex-wrap: wrap;
    margin: 30px 0;
}

// .profile, .strength-weakness, .hobbies, .tools-i-use {
//     width: 40%;
//     margin: 10px ;
// }

.profile-content {
    p {
        text-align: justify;
        text-justify: inter-word;
    }
}

.about-me-sections {
    text-align: center;
    font-size: clamp(1.375rem, 2.5vw, 2rem);
    font-weight: $semi-bold-weight;
    margin: 0 0 30px 0;
}

hr {
    width: 38px;
    margin: 20px auto;
    border-top: 3px solid black;
    // &:not([size]) {
    //     height: 1px;
    // }
}

.list-of-tools {
    width: 50%;
    display: grid;
    grid-template-areas: 
    "tool-1 tool-2 tool-3"
    "tool-4 tool-5 tool-6"
    "tool-7 tool-8 .";
}

.fa-html5 {
    grid-area: "tool-1";
    &::before {
        width: 300px;
    }
}

.fa-css3-alt {
    grid-area: "tool-2";
}

.fa-bootstrap {
    grid-area: "tool-3";
}

.fa-sass {
    grid-area: "tool-4";
}

.fa-js-square {
    grid-area: "tool-5";
}

.fa-git-alt {
    grid-area: "tool-6";
}

.jquery-logo {
    grid-area: "tool-7";
}

.fa-figma {
    grid-area: "tool-8";
}