#about-me {
    p, span, li {
        font-size: clamp(0.938rem, 2.5vw, 1.125rem);
    }
}

.sub-topics {
    margin: 0 0 30px 0;
}

.list-of-information {
    text-align: left;
    flex-wrap: wrap;
    margin: 30px 0;
    @include order;
}

.profile-content {
    p {
        text-align: justify;
        text-justify: inter-word;
    }
}

.sub-headings {
    text-align: center;
    font-size: clamp(1.375rem, 2.5vw, 2rem);
    font-weight: $semi-bold-weight;
}

hr {
    width: 38px;
    margin: 20px auto;
    border-top: 3px solid black;
}

.list-of-tools {
    margin: 0 auto;
    padding: 15px 30px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo1 logo2 logo3"
        "logo4 logo5 logo6"
        "logo7 logo7 logo8";
    @include tool-icons(50px, 35px, center, center);
}

@media  screen and (min-width: 768px) {
    .sub-topics {
        width: 50%;
        padding: 20px 35px 0;
        h2 {
            text-align: left;
            margin: 0;
        }
    }

    hr {
        width: 38px;
        margin: 20px 0;
        border-top: 3px solid black;
    }

    .list-of-tools {
        margin: 0;
        padding: 15px 0;
        grid-template-columns: repeat(3, 90px);
        @include tool-icons(50px, 35px, left, center);
    }
}

@media  screen and (min-width: 915px) and (max-width: 1110px) {
    .sub-topics {
        width: 100%;
    }
    #tool-i-use {
        transform: translateY(0);
    }
}