* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $family;
}

body {
    font-size: 16px;
    background-color: $dark-color;
}

section {
    margin: 80px auto;
    padding: 30px 0;
    align-items: center;
    justify-content: center;
}

#sidebar {
    text-align: center;
    color: $white;
    .name {
        text-transform: uppercase;
        font-weight: $extra-bold-weight;
    }
    .short-description {
        font-size: clamp(1rem, 2.5vw, 1.25rem);
        width: max(300px, 50%);
        margin: 0 auto;
    }
}

.display-img {
    width: 110px;
    margin: 0 auto 30px;
    border-radius: 50%;
}

.list-of-links {
    margin: 30px auto 20px;
    a {
        display: block;
        color: $white;
        text-decoration: none;
        margin: 0 10px;
        padding: 20px;
        &:hover {
            color: $dark-color;
            background-color: $white;
            border-radius: 10px;
        }
    }
    span {
        display: none;
    }
}

.active-link {
    background-color: $white;
    border-radius: 10px;
        a {
            color: $dark-color;
        }
        
}

@media  screen and (min-width: 915px) {
    section {
        align-items: unset;
        justify-content: unset;
        margin: 0 auto;
    }
    #sidebar {
        width: 500px;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
        position: relative;
    }

    .display-img {
        width: 150px;
    }

    .list-of-links {
        align-items: center;
        justify-content: center;
        margin: 50px 0;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25rem;
        }
        span {
            display: block;
            margin-left: 15px;
            font-weight: $bold-weight;
            font-size: 1.25rem;
        }
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}