* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $family;
}

body {
    font-size: 16px;
    background-color: $dark-color;
}

section {
    margin: 80px auto;
    padding: 30px 0;
    align-items: center;
    justify-content: center;
}

#sidebar {
    text-align: center;
    color: $white;
    .name {
        text-transform: uppercase;
        font-weight: $extra-bold-weight;
    }
    .short-description {
        font-size: clamp(1rem, 2.5vw, 1.25rem);
        width: max(300px, 50%);
        margin: 0 auto;
    }
}

.display-img {
    width: 120px;
    margin: 0 auto 30px;
    border-radius: 50%;
}

.list-of-links {
    margin: 30px auto 20px;
    a {
        display: block;
        color: $white;
        text-decoration: none;
        margin: 0 10px;
        padding: 20px;
        &:hover {
            color: $dark-color;
            background-color: $white;
            border-radius: 10px;
        }
    }
    span {
        display: none;
    }
}

.active-link {
    background-color: $white;
    border-radius: 10px;
        a {
            color: $dark-color;
        }
        
}

#projects, #about-me, #contact {
    background-color: $light-gray;
    text-align: center;
    padding: 50px 20px;
    margin: 0 30px;
    border-radius: 30px;
}

.title-text {
    text-transform: uppercase;
    font-weight: $extra-bold-weight;
    font-size: clamp(1.75rem, 2.5vw, 3rem);
}

.buttons {
    margin: 30px auto;
    border: 1px solid #000000;
    border-radius: 30px;
    cursor: pointer;
    p {
        text-transform: uppercase;
        font-size: clamp(0.4rem, 2.5vw, 0.75rem);
        padding: 10px;
    }
}

.active-button {
    color: $white;
    font-weight: $bold-weight;
    background-color: #5C5470;
    border-radius: 30px;
}

.personal-projects, .frontendmentor {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.frontendmentor {
    display: none !important;
}

.card {
    text-align: left;
    width: 300px;
    margin: 30px 0;
    background-color: $cards-color;
    border: 0;
    border-radius: 0 20px 20px 20px;
    padding: 15px;
    box-shadow: 3px 3px 10px hsl(0, 0%, 65%);
    position: relative;
    &::before {
        content: url('../images/card-top.svg');
        position: absolute;
        top: -29px;
        left: 0;
    }
}

.card-title {
    font-weight: $bold-weight;
    font-size: clamp(1.125rem, 2.5vw, 1.375rem);
}
.card-subtitle {
    text-transform: uppercase;
    font-size: clamp(0.688rem, 2.5vw, 0.75rem);
    opacity: 0.8;
}
.card-text {
    h4, p {
        opacity: 1;
        @extend .card-subtitle;
    }
    h4 {
        font-weight: $bold-weight;
    }
}

.links {
    display: flex;
    justify-content: center;
}

.card-link {
    color: $black;
    font-weight: $bold-weight;
    text-decoration: none;
    border-bottom: 2px solid #000;
    margin: 0 20px;
    @extend .card-subtitle;
}

.scroll-top {
    text-decoration: none;
    color: $black;
    font-weight: $extra-bold-weight;
    margin-top: 30px;
    &:hover {
        color: hsl(0, 0%, 39%);
    }
}

@media screen and (min-width: 720px) {
    .card {
        margin: 30px 10px;
    }
    .scroll-top {
        display: none;
    }
}

@media  screen and (min-width: 915px) {
    section {
        align-items: unset;
        justify-content: unset;
        margin: 0 auto;
    }
    #sidebar {
        width: 500px;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
        position: relative;
    }

    .list-of-links {
        align-items: center;
        justify-content: center;
        margin: 50px 0;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25rem;
        }
        span {
            display: block;
            margin-left: 15px;
            font-weight: $bold-weight;
            font-size: 1.25rem;
        }
    }

    footer {
        position: absolute;
        bottom: 0;
    }

    #projects {
        width: 100%;
        margin: 0 30px 0 0;
        padding: 80px 0;
    }

    .buttons {
        p {
            padding: 10px 25px;
        }
    }

    .list-of-projects {
        margin: 30px auto;
    }

    .card {
        margin: 30px;
    }
}