#contact {
    text-align: center;
    .sub-headings {
        text-align: center;
    }
    .sub-topics {
        width: 100%;
    }
    p {
        font-size: clamp(0.938rem, 2.5vw, 1.125rem);
    }
    hr {
        @include hr(20px, auto);
    }
}

.contact-sub-text {
    margin: 10px auto 0;
}

.contact-content {
    margin: 40px 0;
}

.contact-icon {
    width: 20px;
    margin-right: 10px;
}

.contact-list {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.mail, .contact-num {
    justify-content: center;
    margin: 10px 0;
}
.socials-icons {
    a {
        text-decoration: none;
    }
}

.social-icon {
    width: 30px;
    margin: 10px;
}

@media screen and (min-width: 768px) {
    .contact-sub-text {
        width: 40%;
    }
}