#projects, #about-me, #contact {
    background-color: $light-gray;
    text-align: center;
    padding: 50px 20px;
    margin: 0 15px;
    border-radius: 30px;
}

.page-heading {
    text-transform: uppercase;
    font-weight: $extra-bold-weight;
    font-size: clamp(1.75rem, 2.5vw, 3rem);
}

.buttons {
    margin: 30px auto;
    border: 1px solid #000000;
    border-radius: 30px;
    cursor: pointer;
    p {
        text-transform: uppercase;
        font-size: clamp(0.4rem, 2.5vw, 0.75rem);
        padding: 10px;
    }
}

.active-button {
    color: $white;
    font-weight: $bold-weight;
    background-color: #5C5470;
    border-radius: 30px;
}

.personal-projects, .frontendmentor {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    text-align: left;
    width: 300px;
    margin: 30px 0;
    background-color: $cards-color;
    border: 0;
    border-radius: 0 20px 20px 20px;
    padding: 15px;
    box-shadow: 3px 3px 10px hsl(0, 0%, 65%);
    position: relative;
    &::before {
        content: url('../images/card-top.svg');
        position: absolute;
        top: -29px;
        left: 0;
    }
}

.card-title {
    font-weight: $bold-weight;
    font-size: clamp(1.125rem, 2.5vw, 1.375rem);
}
.card-subtitle {
    text-transform: uppercase;
    font-size: clamp(0.688rem, 2.5vw, 0.75rem);
    opacity: 0.8;
}
.card-text {
    h4, p {
        opacity: 1;
        @extend .card-subtitle;
    }
    h4 {
        font-weight: $bold-weight;
    }
}

.links {
    display: flex;
    justify-content: center;
}

.card-link {
    color: $black;
    font-weight: $bold-weight;
    text-decoration: none;
    border-bottom: 2px solid #000;
    margin: 0 20px;
    &:hover {
        color: hsl(0, 0%, 25%);
        border-bottom: 2px solid hsl(0, 0%, 25%);
    }
    @extend .card-subtitle;
}

.scroll-top {
    width: 70%;
    background-color: #5C5470;
    text-align: center;
    text-decoration: none;
    color: $white;
    font-size: 0.8rem;
    font-weight: $bold-weight;
    margin: 30px auto 0;
    padding: 10px 0;
    text-transform: uppercase;
    &:hover {
        color: hsl(0, 0%, 39%);
    }
}

footer p {
    @extend .card-subtitle;
}

/* To add by jQuery when clicked */

.active-button {
    color: $white;
    font-weight: $bold-weight;
    background-color: #5C5470;
    border-radius: 30px;
}

@media screen and (min-width: 720px) {
    .card {
        margin: 30px 10px;
    }
    .scroll-top {
        display: none;
    }
}

@media  screen and (min-width: 915px) {
    #projects, #about-me, #contact {
        width: 100%;
        margin: 0 30px 0 0;
        padding:  100px 100px 0;
        overflow: scroll;
    }

    .buttons {
        p {
            padding: 10px 25px;
        }
    }

    .list-of-projects {
        // padding: 0 100px;
        margin: 30px auto;
    }

    .card {
        margin: 30px;
    }
}