/* Font Styles */
$family: 'Inter', sans-serif;
$body-font-size: 1rem;
$regular-weight: 400;
$medium-weight: 500;
$semi-bold-weight: 600;
$bold-weight: 700;
$extra-bold-weight: 800;
$header-title: clamp(1.75rem, 2.5vw, 3rem); // font sizes for Project, About and Contact

/* Colors */
$dark-color: hsl(257, 18%, 23%);
$light-gray: hsl(0, 5%, 98%);
$cards-color: hsl(256, 16%, 87%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

/* Attributes for each child of list-of-tools */
@mixin tool-icons($height, $bg-size) {
    @for $i from 1 through 8 {
        :nth-child(#{$i}){
            height: $height;
            background: {
                size: $bg-size;
                repeat: no-repeat;
                position: center center
            };
            @if $i == 1 {
                grid-area: logo1;
                background-image: url("../images/html5-brands.svg");
            }
            @if $i == 2 {
                grid-area: logo2;
                background-image: url("../images/css3-alt-brands.svg");
            } 
            @if $i == 3 {
                grid-area: logo3;
                background: {
                    size: 50px;
                    image: url("../images/bootstrap-brands.svg");
                }
            } 
            @if $i == 4 {
                grid-area: logo4;
                background-image: url("../images/sass-brands.svg");
            } 
            @if $i == 5 {
                grid-area: logo5;
                background-image: url("../images/js-square-brands.svg");
            } 
            @if $i == 6 {
                grid-area: logo6;
                background-image: url("../images/git-alt-brands.svg");
            } 
            @if $i == 7{
                grid-area: logo7; 
                background: {
                    size: 100px;
                    image: url("../images/jquery-wordmark.svg");
                }
            } 
            @if $i == 8 {
                grid-area: logo8;
                background: {
                    size: 25px;
                    image: url("../images/figma-brands.svg");
                }
            }
        }
    }
}
